<div style="margin-top: 32px;">
    <div class="bookshelf">
      <div class="book">
        <div class="side spine">
          <span class="spine-title"> {{ .Params.title }} </span>
          <span class="spine-author">
            {{ .Params.author }}
          </span>
        </div>
        <div class="side top"></div>
        <div
          class="side cover"
          style="background-image: url({{ .Params.cover }})"
          onclick="location.href='{{ .Params.link }}'"
        ></div>
      </div>
    </div>
    <hr/>
</div>
